{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
  {% endblock %}

{% block content %}
{{block.super}}

{% include 'navbar.html' %}

<div style="background-color:blue" , class="container">

    <div class="row" style="margin-left: -10px;">
        {% for project in projects %}
        <div class="card" style="width: 18rem; margin: 10px; background-color:white">
          <img class="card-img-top" src="{{project.photo.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">{{project.title}}</h5><span> <a class="btn btn-info" href="{{project.url}}" target="_blank" style="background-color:yellow;color:black">Visit Site</a> </span>{% if user.is_authenticated %}<span> <a class="btn btn-info" href="{% url 'rate_projects'  project.id %}" style="background-color:yellow;color:blac">Rate</a> </span>{% endif %}
            <p class="card-text">{{project.description}}</p>
            <p class="card-text">Developed By: {{project.user.username}}</p>
            <p class="card-text">Submitted On: {{project.date|date}}</p>

          </div>
        </div>

        
          {% empty %}
    </div>
    <div class="row">
        <h2 class="text-center">There No Projects Currently</h2>
    </div>
    {% endfor %}

</div>

{% endblock %}




