{% extends "base.html" %}
{% load bootstrap4 %}
 {% load static %}


 {% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
   {% endblock %}


 {% block content %}

<hr>
<nav class="navbar navbar-expand-sm navbar-custom">
  
    <a href="#" class="navbar-brand">
        <!--<img src="" height="28" alt="CoolBrand">-->
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'welcome' %}" class="nav-item nav-link active" style="color: white;">RATINGSAPP</a>
            <a href="#" class="nav-item nav-link"></a>        
        </div>
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
      
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Project" name="project">
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>SEARCH</button>
                </div>
              </div>
      
            </form>
          </div>
        {% if user.is_authenticated %}
        <div class="navbar-nav ml-auto">
            <span><a href="{% url 'projects' %}" class="btn btn-primary" style="color: white; margin-right: 10px;">Submit A Project</a>
            </span>
            <span style="color: white; float: right;"> {{user.username}}</span>   
            
        </div>
        {% else %}     
        <div class="navbar-nav ml-auto">
            <a href="{% url 'signup' %}" class="btn btn-primary" style="color: white; margin-right: 10px;">Register</a>
            <a href="{% url 'login' %}" class="btn btn-primary" style="color: white;">Login</a>

        </div>
        {% endif %}
        <ul class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;" style="float: r;">
            
                
                
            </a>
            {% if user.is_authenticated %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile' %}" >Profile</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
        </ul>

    </div>

</nav>
{% if user.is_authenticated  %}

{% else %}
<small class="text-center;" style="color: greenyellow; margin-left: 30%;">please signup to our site so as to enjoy all features</small>

{% endif %}
<hr>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 {% endblock %}



